/*
 * Globals
 */





/*
 * Override Bootstrap's default container.
 */

@media (min-width: 900px) {
    .container {
		width: 1280px;
		max-width: none;
    }
}


/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	/*width: 98%;
    margin: 10px auto;
    padding: 10px 0px;
    border-top-style: solid;
    border-top-color: #0183e5;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0183e5;
    border-bottom-width: 2px;*/
}

