/*
 * Globals
 */
/*
 * Override Bootstrap's default container.
 */
body{
	background:#1F1F1F;
}

@media (min-width: 900px) {

	.container {
		width:1440px;
		height: auto;
		max-width:100%;

    }
}
.blog-container {
	height: auto;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	max-width:100%;
	position:relative;
}

.blog-head-pic{
	position: relative;
	width:100%;
	height:auto;
	z-index:0;
}
.pic{
	position: relative;
	width:100%;
	height:auto;
	z-index:0;
}

.head-menu{
	position: absolute;
	width:100%;
	z-index:1;
}

.blog-head{
	position:relative;
	max-width:100%;
	max-height:100%;
	height: auto;
}

.home-item{
	width:100%;
	height:auto;
}



/*
 * Masthead for nav
 */
.blog-masthead {
    /*background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
	width: 100%;
    /*margin: 10px auto;
    padding: 10px 0px;
    border-top-style: solid;
    border-top-color: #0183e5;
    border-top-width: 2px;*/
    border-bottom-style: solid;
    border-bottom-color: #0183e5;
    border-bottom-width: 2px;
	background-color: transparent;

}

.blog-navbar {
    background-color: transparent;
    border-color: transparent;
	height: 50%;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
	background-color: #0183e5;
}

.nav-bar{
	margin-bottom: 1px;
}
.nav-font-size{
	font-size: 20px;
}

.nav li { 
    list-style: none; 
    display: table; 
} 
.nav ul{
	text-align: center;
}


.fltrt {
    float: right;
    margin-left: 8px;
}

.panel-cover {
  display: block;
  position: relative;
  min-width: 40%;
  max-width: 100%;
  min-height: 40%;
  max-height: 100%;
  background: url(../images/ed.jpg) top left no-repeat #666666;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
  -moz-background-size:100% 100%;  
  background-size:100% 100%;  
 }
 
 .pos-rela{
	 position: relative;
 }
 
 .pos-ab{
	 position: absolute;
 }
 
.test{
	 background-color: #FFFAF0;
	 z-index:1;
 }
